@import "tailwindcss";

:root {
  --primary-color: #4caf50;
  --secondary-color: #695756;
  --background-color: #f0f0f0;
  --text-color: #333333;
  --font-family: "Arial", sans-serif;
}
body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-family);
}
