/* 1. Google Font - MUST be at the very top */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@import "tailwindcss";

@theme {
  --font-sans:
    "Inter", system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

:root {
  --primary-color: #111111;
  --secondary-color: #e5e5e5;
  --background-color: #ffffff;
  --text-color: #333333;
  --greyColor: #a4a1aa;
  color-scheme: dark;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-sans);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.auth-img {
  object-fit: fill;
  height: 100vh;
  width: 100vw;
}

@layer components {
  .input-field {
    @apply border text-sm rounded-xl w-full px-3 py-2.5 shadow-sm ring-1 focus:outline-none;
    background-color: var(--secondary-color);
    border-color: var(--primary-color);
    color: inherit;
  }

  .input-field::placeholder {
    color: var(--greyColor);
  }

  .input-field:focus {
    outline: none;
    box-shadow: 0 0 0 1px var(--primary-color);
    border-color: var(--primary-color);
  }

  .label {
    @apply block text-sm font-light;
  }

  /* Button */
  .auth-btn {
    @apply text-sm rounded-xl w-full px-3 py-2.5 shadow-sm;
    background-color: var(--primary-color);
    color: var(--background-color);
  }

  /* Primary Button */
  .btn-primary {
    @apply border rounded-sm py-2 px-2 font-medium hover:bg-gray-600 scale-110 transition-all duration-300 ease-in-out cursor-pointer;
    background-color: var(--primary-color);
    color: var(--secondary-color);
  }

  /* Navigation Link */
  .nav-link {
    @apply font-medium hover:text-amber-300 transition-all duration-300 ease-in-out cursor-pointer;
  }
}
